name: CI-CD-ML

on:
  push:
    branches: [ main ]

jobs:
  train:
    name: Train model and upload artifacts
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script
      run: |
        python train.py

    - name: Write results to Job Summary
      run: |
        echo "## Experiment Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** BOLLI CHAMITH KALYAN" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0117" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        cat output/results.json >> $GITHUB_STEP_SUMMARY || true

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: exp-01-artifacts
        path: output/

  deploy:
    name: Deploy if metric improves
    needs: train
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Download artifacts from train job
      uses: actions/download-artifact@v4
      with:
        name: exp-01-artifacts
        path: output

    - name: Read current F1 metric
      id: readmetric
      run: |
        F1=$(python -c "import json; print(json.load(open('output/metrics.json'))['f1'])")
        echo "f1=$F1" >> $GITHUB_OUTPUT

    - name: Compare with BEST_F1
      id: compare
      run: |
        echo "Current F1 = ${{ steps.readmetric.outputs.f1 }}"
        echo "Best F1 = ${{ vars.BEST_F1 }}"

        if [ "$(echo "${{ steps.readmetric.outputs.f1 }} <= ${{ vars.BEST_F1 }}" | bc -l)" = "1" ]; then
          echo "Metric did NOT improve"
          exit 1
        else
          echo "Metric improved"
        fi

    - name: Login to Docker Hub
      if: success()
      run: |
        echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      if: success()
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/wine-infer:${{ github.run_number }} .

    - name: Push Docker image
      if: success()
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/wine-infer:${{ github.run_number }}

    
